:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
main:has(.back-link) {
  text-align: center;
}

button {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; */
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 86px;
  background: #4e75ff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border: none;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  &:disabled {
    background: #cfcfcf;
    pointer-events: none;
  }
}

button:hover,
button:focus {
  background: #6c8cff;
}

input {
  width: 272px;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 32px;
  outline: none;
  border: 1px solid grey;

  &:hover {
    border-color: black;
  }

  &:focus {
    border-color: #4e75ff;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
